language: java
matrix:
  include:
    - os: linux
      dist: trusty
    - os: osx
      osx_image: xcode9.3
jdk:
    - oraclejdk8
#   - openjdk8 # not supported on OSX
env:
  global:
    - QTM_BIN=./QTM
    - INFILE=articles.txt
    - OUTFILE=qtl.csv
install:
  - mvn install
  - solr/install_solr.sh
script:
  - $QTM_BIN -v
  - $QTM_BIN -V 7 $INFILE
  - |
    [[ -s "$OUTFILE" ]]

